@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(212, 21%, 14%);
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-blue: hsl(212, 86%, 64%);
  --color-orange: hsl(34, 97%, 64%);

  --text-preset1: 600 36px/140% "Poppins", sans-serif;
  --text-preset2: 200 36px/140% "Poppins", sans-serif;
  --text-preset3: 600 20px/135% "Poppins", sans-serif;
  --text-preset4: 400 15px/140% "Poppins", sans-serif;
  --text-preset5: 400 13px/160% "Poppins", sans-serif;

  --text-preset1-letter-spacing: 0.25px;
  --text-preset2-letter-spacing: 0.25px;

  --mobile-text-preset1: 600 24px/140% "Poppins", sans-serif;
  --mobile-text-preset2: 200 24px/140% "Poppins", sans-serif;
  --mobile-text-preset4: 400 15px/140% "Poppins", sans-serif;

  --mobile-text-preset4-letter-spacing: 0.1px;

  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-1600: 8rem; /* 128px */
}

html,
body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0px;
}

body {
  /* 如果不开启特定的抗锯齿设置，字体往往会显得略微发虚、变粗，视觉上就会觉得“宽”了 */
  /* 针对 Chrome, Safari (Mac) */
  -webkit-font-smoothing: antialiased;
  /* 针对 Firefox (Mac) */
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;

  /* 这个强制居中不要用 */
  /* align-items: center; */
  min-height: 100vh;
}

main {
  max-width: 316px;
  margin-top: 56px;
  margin-bottom: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-200);
}

.header__title .title {
  font: var(--mobile-text-preset2);
  color: var(--color-grey-500);
}

.header__title .subtitle {
  font: var(--mobile-text-preset1);
  color: var(--color-grey-500);
}

.header__desc {
  font: var(--mobile-text-preset4);
  color: var(--color-grey-500);
  letter-spacing: var(--mobile-text-preset4-letter-spacing);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-400);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--spacing-400);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.card img {
  width: 64px;
  height: 64px;
  display: block;
}

.card__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-100);
}

.card__header .title {
  font: var(--text-preset3);
  color: var(--color-grey-500);
}

.card__header .desc {
  font: var(--text-preset5);
  color: var(--color-grey-400);
}

.bar-supervisor {
  height: 4px;
  width: 100%;
  background-color: var(--color-cyan);
}
